.center{
  display: flex;
  justify-content:center;
  align-items:center;
}

.todoApp{
  font-family: sans-serif;
  text-align: center;
}
.container{
  display: flex;
}
.mainContent{
  composes: center;
  flex: 1;
  padding: 5rem;
  margin-right: 256px;  //sliderMenu的宽度
}